.promo {
    min-height: 800px; 
    padding: 34px 0 60px 0;
    
    background: url("../img/bgHeader.jpg") center center/cover no-repeat;
    
    background-color: #000;
    display: flex; 
    align-items: flex-end; 
    justify-content: flex-start;
    &__wrapper {
        padding-right: 400px;        
    
        
    }

    &__headerText {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;

        color: #FFFFFF;
    }

    &__subheaderText {
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;

        color: #FFFFFF;
    }

    &__descr {
        margin-top: 10px;
        &_date {
          
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;

            color: #FFFFFF;
            padding-left: 10px;

        }

        &_author {
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;

            color: #FFFFFF;
            padding-left: 10px;
            
            span {
                color: #ccc;
            }
        }
        

        &_comment{
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;

            color: #FFFFFF;
        }
    }
} 