.title_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E5E5E5;
    span {
        padding: 15px 70px;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        text-align: center;

        color: #171717;
    }
}